.page {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.page .question {
  font-size: 72px;
  color: #fff;
  font-style: italic;
  font-weight: 800;
}

.page .hint {
  font-size: 48px;
  color: #000;
  font-weight: 800;

}

.page .button {
  border: 1px solid white;
  width: 500px;
  height: 70px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-decoration: none;
}

.page--1 {
  background-image: url('/img/section-1.png');
}

.page--2 {
  background-image: url('/img/section-2.png');
}

.page--3 {
  background-image: url('/img/section-3.png');
}

.page--4 {
  background-image: url('/img/section-4.png');
}

.page .button:hover {
  background-color: rgba(0, 255, 0, 0.3);
  text-decoration: none;
}
